+modal("modal_hidden modal_size_small modal_ident modal__chande-pass", {id:"js-modal-change-pass", type:"simple", title:"Смена пароля"})
	+modal__content()
		+form('change-pass-form')
			+form-field('change-pass-form__field change-pass-form__field-first')
				+input('input_format_wide', {type: 'password', placeholder: 'Текущий пароль'})
			+form-field('change-pass-form__field')
				+input('input_format_wide', {type: 'password', placeholder: 'Новый пароль'})
			+form-field('change-pass-form__field field_error')
				+input('input_format_wide', {type: 'password', placeholder: 'Новый пароль, повторно'})
	+modal__footer()
		+button('button_size_medium', {text: 'Изменить пароль'})