@import url('https://fonts.googleapis.com/css?family=Open+Sans');
@keyframes spin {
  from {
    opacity: 1;
    transform: scale(1);
  }
  to {
    opacity: 0;
    transform: scale(1.5);
  }
}
.k50_widget {
  position: fixed;
  top: 0;
  height: 100%;
  right: 0;
  z-index: 9999;
}
.k50_button {
  bottom: 45px;
  height: 60px;
  opacity: 1;
  position: absolute;
  left: -105px;
  transition: opacity 0.15s linear;
  width: 60px;
  z-index: 9999;
  cursor: pointer;
}
.k50_button_circle {
  border-radius: 50%;
  height: 100%;
  position: absolute;
  width: 100%;
  pointer-events: none;
}
.k50_button_ripple {
  animation: spin 2s infinite linear forwards;
  background-color: rgba(0, 0, 0, 0.3);
  border-radius: 50%;
  height: 60px;
  left: 0;
  position: absolute;
  top: 0;
  transition: background-color 1.2s;
  width: 60px;
  pointer-events: none;
}
.k50_button_ripple:nth-last-of-type(2n) {
  animation-delay: 1s;
}
.k50_button:after {
  height: 90px;
  width: 90px;
}
.k50_button:hover .k50_button_ripple {
  background-color: rgba(255, 0, 0, 0.5);
  transition: background-color 0.3s;
}
.k50_button.k50_active {
  opacity: 0;
}
.k50_button.k50_active .k50_button_ripple {
  animation: none;
}
.k50_timer_icon {
  position: absolute;
  width: 56px;
  height: 56px;
  border-radius: 50%;
  bottom: 0px;
  right: 84px;
  text-align: center;
  line-height: 50px;
  font-size: 12px;
  color: #000;
  display: none;
  font-family: 'Open Sans';
}
.k50_timer_icon.active {
  display: block;
}
.k50_timer_icon.open {
  bottom: 47px;
  right: 420px;
}
.k50_timer_icon_border {
  position: absolute;
  top: 0;
  left: 0;
  width: 56px;
  height: 56px;
  z-index: 1;
}
.k50_timer_icon_back {
  position: absolute;
  top: 3px;
  left: 3px;
  width: 50px;
  height: 50px;
  z-index: 2;
}
.k50_timer_icon_value {
  z-index: 3;
  position: absolute;
  width: 100%;
  height: 100%;
  line-height: 56px;
}
.k50_widget_wrap {
  width: 360px;
  height: 500px;
  /*height: 100%;*/
  position: absolute;
  z-index: 10000000;
  bottom: 45px;
  /*bottom: 0;*/
  right: -999px;
  background-color: #f0f0f0;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 0px 20px 0px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  font-family: 'Open Sans';
  overflow: hidden;
  -webkit-transition: left .2s ease;
  -moz-transition: left .2s ease;
  -ms-transition: left .2s ease;
  -o-transition: left .2s ease;
  transition: box-shadow 0.3s linear;
}
.k50_widget_wrap.active {
  display: block;
  right: 45px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
}
.k50_mobile .k50_widget_wrap.active {
  display: block;
  right: 0;
  bottom: 0;
  width: 100%;
  position: fixed;
  height: 100%;
}
.k50_widget_wrap * {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  font-family: 'Open Sans';
}
.k50_widget_panel {
  position: relative;
  display: none;
  width: 100%;
  height: 100%;
  padding: 10px 20px;
  z-index: 1;
}
.k50_widget_panel.active {
  display: block;
}
.k50_widget_header {
  position: relative;
  width: 100%;
  height: 50px;
  padding: 20px 20px 0;
  color: #333333;
  text-align: left;
  z-index: 1;
  background-color: #f0f0f0;
  line-height: 30px;
}
.k50_widget_header_drag {
  position: absolute;
  background-color: #ccc;
  width: 100px;
  height: 20px;
  top: 0;
  left: 50%;
  margin-left: -50px;
  cursor: move;
}
.k50_widget_header_nav_icon {
  display: inline-block;
  width: 30px;
  height: 30px;
  vertical-align: middle;
  cursor: pointer;
}
.k50_widget_header_title {
  display: inline-block;
  vertical-align: middle;
  padding-left: 10px;
  font-size: 13px;
  font-weight: bold;
}
.k50_widget_header_close {
  position: absolute;
  right: 0px;
  top: 0px;
  cursor: pointer;
  height: 30px;
  width: 30px;
  z-index: 1;
}
.k50_widget_panel_tab {
  position: relative;
  cursor: pointer;
  width: 100%;
  height: 48px;
  display: block;
  text-align: left;
  vertical-align: middle;
  padding: 0;
  color: #333333;
  font-size: 14px;
  -webkit-transition: color .2s ease;
  -moz-transition: color .2s ease;
  -ms-transition: color .2s ease;
  -o-transition: color .2s ease;
  transition: color .4s ease;
  vertical-align: top;
}
.k50_widget_panel_tab:hover {
  background-color: #e4e4e4;
}
.k50_tab_icon {
  display: inline-block;
  width: 48px;
  height: 48px;
  position: relative;
  vertical-align: middle;
}
.k50_tab_icon svg {
  width: 48px;
  height: 48px;
  position: absolute;
  display: block;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
}
.k50_tab_icon_title {
  display: inline-block;
  vertical-align: middle;
  font-size: 14px;
}
.k50_widget_content {
  width: 100%;
  position: relative;
}
.k50_chat {
  display: none;
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.k50_chat.active {
  display: block;
}
.k50_chat_container {
  width: 100%;
  height: 100%;
  position: relative;
  overflow: hidden;
}
.k50_chat_content {
  height: calc(100% - 0px);
  width: 100%;
  overflow: hidden;
  font-size: 13px;
  max-height: 100%;
  display: table;
}
.k50_chat_content:after {
  content: '';
  display: block;
  position: relative;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 15px;
}
.k50_chat_table_row {
  display: table-row;
}
.k50_chat_log_wrap {
  width: 100%;
  height: 100%;
  overflow: hidden;
  display: table-cell;
  vertical-align: bottom;
  padding-top: 20px;
}
.k50_chat_log {
  max-height: 100%;
  width: 100%;
  overflow-y: auto;
  bottom: 0;
}
.k50_chat_note {
  width: 100%;
  border-top: 0px solid #cccccc;
  z-index: 6;
  min-height: 20px;
  max-height: 140px;
  display: table-row;
  position: relative;
  padding: 0 20px;
}
.k50_chat_note_val {
  display: none;
  padding: 3px 20px;
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0.05);
}
.k50_chat_note_val.active {
  display: inline-block;
}
.k50_chat_note_val:hover {
  background-color: rgba(0, 0, 0, 0.1);
}
.k50_chat_send_wrap {
  width: 100%;
  border-top: 0px solid #cccccc;
  z-index: 6;
  min-height: 20px;
  max-height: 140px;
  display: table-row;
  position: relative;
}
.k50_chat_send_wrap:before {
  content: '';
  display: block;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  position: relative;
  width: 100%;
  height: 0;
  top: 0;
  left: 0;
}
.k50_chat_send_input_wrap {
  position: relative;
  height: 100%;
  overflow: hidden;
  margin-right: 80px;
}
.k50_chat_send_input_wrap {
  position: relative;
  height: 100%;
  overflow: hidden;
  margin-right: 80px;
}
.k50_chat_send_input {
  width: 100%;
  position: relative;
  outline: none;
  min-height: 20px;
  max-height: 130px;
  height: 100%;
  bottom: 0;
  padding: 0px 0px 0px 40px;
  z-index: 1;
  color: #000000;
  overflow-x: hidden;
  overflow-y: scroll;
  padding-top: 17px;
  line-height: 18px;
  font-size: 13px;
  word-wrap: break-word;
  white-space: -moz-pre-line;
  white-space: pre-line;
  word-break: break-all;
}
.k50_chat_send_input:not(:empty) ~ .k50_chat_send_ph {
  display: none;
}
.k50_chat_send_ph {
  width: 100%;
  position: absolute;
  height: 20px;
  bottom: 0;
  padding: 0px 40px;
  color: rgba(0, 0, 0, 0.25);
  -o-transition: color 0.2s ease;
  transition: color 0.2s ease;
}
.k50_chat_send_emoji_box {
  position: absolute;
  width: 200px;
  height: 100px;
  background-color: #fff;
  right: 10px;
  bottom: 40px;
  box-shadow: 0px 0px 3px 1px rgba(0, 0, 0, 0.4);
  -webkit-box-shadow: 0px 0px 3px 1px rgba(0, 0, 0, 0.4);
  padding: 5px;
  z-index: 3;
  display: none;
}
.k50_chat_send_emoji_box:hover,
.k50_chat_send_emoji_box.active {
  display: block;
}
.k50_chat_send_emoji {
  position: absolute;
  width: 30px;
  height: 30px;
  bottom: 10px;
  right: 47px;
  cursor: pointer;
  z-index: 2;
  padding: 0;
  /*
        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 18 18'%3E%3Cpath d='M9 0a9 9 0 1 1 0 18A9 9 0 0 1 9 0zm0 1C4.589 1 1 4.589 1 9s3.589 8 8 8 8-3.589 8-8-3.589-8-8-8zM5 6.999a1 1 0 1 1 2.002.004A1 1 0 0 1 5 6.999zm5.999 0a1.002 1.002 0 0 1 2.001 0 1 1 0 1 1-2.001 0zM8.959 13.5c-.086 0-.173-.002-.26-.007-2.44-.132-4.024-2.099-4.09-2.182l-.31-.392.781-.62.312.39c.014.017 1.382 1.703 3.37 1.806 1.306.072 2.61-.554 3.882-1.846l.351-.356.712.702-.35.356c-1.407 1.427-2.886 2.15-4.398 2.15z' fill='%23adadad'  fill-rule='evenodd'%3E%3C/path%3E%3C/svg%3E");
        */
  display: block;
  background-color: transparent;
  border: 0;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  outline: none;
}
.k50_chat_send_emoji_icon {
  background-image: url(/widget/images/emojisprite_0.png);
  outline: none;
  float: left;
  width: 26px;
  height: 26px;
  cursor: pointer;
  padding: 5px 5px;
  border: 0;
  margin-right: 5px;
  background-color: transparent;
  background-repeat: no-repeat;
  background-size: 702px 182px;
  vertical-align: middle;
  display: inline-block;
}
.k50_chat_send_emoji_icon.inside {
  width: 18px;
  height: 18px;
  display: inline-block;
  float: none;
  margin: 0;
  padding: 0;
  background-size: 512px 126px;
  cursor: text;
  pointer-events: none;
}
.k50_chat_send_emoji:hover ~ .k50_chat_send_emoji_box {
  display: block;
}
.k50_chat_send_submit {
  position: absolute;
  right: 20px;
  bottom: 10px;
  width: 30px;
  height: 30px;
  cursor: pointer;
  text-align: center;
  padding: 0px;
  z-index: 2;
  background-color: transparent;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}
.k50_chat_send_submit svg {
  width: 30px;
  height: 30px;
  -webkit-transition: width .2s ease;
  -moz-transition: width .2s ease;
  -ms-transition: width .2s ease;
  -o-transition: width .2s ease;
  transition: width .4s ease;
}
.k50_chat_send_submit.change svg {
  /*
            width: 0px;
            height: 0px;
    -webkit-transition: width .2s ease;
    -moz-transition: width .2s ease;
    -ms-transition: width .2s ease;
    -o-transition: width .2s ease;
    transition: width .4s ease;
    */
}
.k50_chat_message_item {
  width: 100%;
  padding: 4px 15px 4px 60px;
  position: relative;
  margin-bottom: 15px;
}
.k50_chat_message_item:last-child {
  padding-bottom: 20px;
}
.k50_chat_message_item:after {
  content: '';
  display: block;
  clear: both;
  float: none;
}
.k50_chat_message_item:hover {
  background-color: rgba(0, 0, 0, 0.05);
}
.k50_chat_message_body {
  padding: 5px 10px 25px;
  min-width: 120px;
  max-width: 100%;
  position: relative;
  font-size: 14px;
  word-wrap: break-word;
  white-space: -moz-pre-line;
  white-space: pre-line;
  word-break: break-all;
  /* arrow
            &:after, &:before {
                top: 15px;
                border: solid transparent;
                content: " ";
                height: 0;
                width: 0;
                position: absolute;
                pointer-events: none;
            }
            */
}
.k50_chat_message_item.edit .k50_chat_message_body {
  box-shadow: 0px 0px 5px 1px #31a900;
}
.k50_chat_message_out .k50_chat_message_body {
  float: right;
  background-color: #0088E0;
  word-wrap: break-word;
  color: #ffffff;
  text-align: right;
}
.k50_chat_message_in .k50_chat_message_body {
  float: left;
  background-color: rgba(0, 0, 0, 0.1);
  word-wrap: break-word;
  color: #333333;
  text-align: left;
}
.k50_chat_message_out .k50_chat_message_bottom {
  text-align: left;
  left: 10px;
}
.k50_chat_message_in .k50_chat_message_bottom {
  text-align: right;
  right: 10px;
}
.k50_chat_message_bottom {
  position: absolute;
  bottom: 5px;
  font-size: 10px;
}
.k50_chat_message_bottom:after {
  content: '';
  display: block;
  float: none;
  clear: both;
}
.k50_chat_message_date {
  display: inline-block;
  color: #505050;
}
.k50_chat_message_out .k50_chat_message_time {
  display: inline-block;
  color: rgba(255, 255, 255, 0.5);
}
.k50_chat_message_in .k50_chat_message_time {
  display: inline-block;
  color: rgba(0, 0, 0, 0.5);
}
.k50_chat_message_avatar {
  position: absolute;
  width: 30px;
  height: 30px;
  top: 5px;
  left: 20px;
  border-radius: 50%;
  overflow: hidden;
}
.k50_chat_message_avatar img {
  width: 100%;
  height: 100%;
  outline: none;
}
.k50_chat_edit_panel {
  position: absolute;
  width: 100%;
  height: 50px;
  background-color: #fff;
  z-index: 10;
  bottom: 0;
  left: 0;
  padding: 10px 20px;
  display: none;
}
.k50_chat_edit_panel.active {
  display: block;
}
.k50_chat_edit_panel .k50_btn {
  height: 30px;
  line-height: 1em;
  padding: 0 10px;
  cursor: pointer;
  line-height: 30px;
  display: inline-block;
}
.k50_chat_edit_panel .k50_btn.k50_r {
  float: right;
}
.k50_chat_edit_panel .k50_btn.k50_l {
  float: left;
  margin-right: 6px;
}
.k50_chat_edit_panel .k50_btn.k50_blue {
  background-color: #0088E0;
  color: #fff;
}
.k50_chat_edit_panel .k50_btn.k50_def {
  background-color: #fff;
  color: #0088E0;
}
.k50_chat_edit_panel:after {
  content: '';
  float: none;
  clear: both;
}
.k50_callback {
  display: none;
  padding-bottom: 50px;
}
.k50_callback_container {
  padding: 30px 20px 20px;
  height: 100%;
}
.k50_callback_span {
  padding-bottom: 20px;
  color: rgba(0, 0, 0, 0.5);
  font-size: 13px;
  line-height: 18px;
}
.k50_callback.active {
  display: block;
}
.k50_callback_timer {
  position: absolute;
  top: -50px;
  left: 0;
  background-color: #f0f0f0;
  z-index: 3;
  padding: 20px;
  width: 100%;
  height: calc(100% + 50px);
  text-align: center;
  display: none;
}
.k50_callback_timer.active {
  display: block;
}
.k50_callback_timer:before {
  content: '';
  display: inline-block;
  height: 100%;
  vertical-align: middle;
}
.k50_callback_timer_box {
  display: inline-block;
  text-align: center;
  vertical-align: middle;
}
.k50_callback_timer_desc {
  color: #333333;
  font-size: 13px;
  margin-bottom: 20px;
}
.k50_callback_timer_item {
  font-size: 24px;
  color: #000000;
  top: -21px;
  position: relative;
}
.k50_callback_timer_btn {
  background-color: #0088E0;
  color: #fff;
  font-size: 13px;
  width: 120px;
  height: 40px;
  display: block;
  line-height: 40px;
  text-align: center;
  cursor: pointer;
  margin: 30px auto 0;
}
.k50_feedback {
  display: none;
  padding-bottom: 50px;
  height: 100%;
}
.k50_feedback_container {
  padding: 30px 20px 20px;
  height: 100%;
  margin-bottom: 50px;
  overflow-y: auto;
}
.k50_feedback_span {
  padding-bottom: 20px;
  color: rgba(0, 0, 0, 0.5);
  font-size: 13px;
  line-height: 18px;
}
.k50_feedback.active {
  display: block;
}
.k50_feedback_confirm {
  position: absolute;
  top: -50px;
  left: 0;
  background-color: #f0f0f0;
  z-index: 3;
  padding: 20px;
  width: 100%;
  height: calc(100% + 50px);
  text-align: center;
  display: none;
}
.k50_feedback_confirm.active {
  display: block;
}
.k50_feedback_confirm:before {
  content: '';
  display: inline-block;
  height: 100%;
  vertical-align: middle;
}
.k50_feedback_confirm_box {
  display: inline-block;
  text-align: center;
  vertical-align: middle;
}
.k50_feedback_confirm_desc {
  color: #333333;
  font-size: 13px;
  margin-bottom: 20px;
}
.k50_feedback_confirm_item {
  font-size: 24px;
  color: #000000;
  top: -21px;
  position: relative;
}
.k50_feedback_confirm_btn {
  background-color: #0088E0;
  color: #fff;
  font-size: 13px;
  width: 120px;
  height: 40px;
  display: block;
  line-height: 40px;
  text-align: center;
  cursor: pointer;
  margin: 30px auto 0;
}
/* service */
.k50_policy {
  width: 100%;
  height: 17px;
  position: absolute;
  left: 0;
  bottom: 52px;
  line-height: 17px;
  text-align: right;
  color: rgba(0, 0, 0, 0.25);
  font-size: 10px;
  padding: 0 8px;
}
.k50_policy a {
  text-decoration: none;
  color: rgba(0, 0, 0, 0.7);
}
.k50_policy a:hover {
  text-decoration: underline;
  color: #000000;
}
.k50_widget_select {
  position: relative;
  height: 30px;
  display: inline-block;
  cursor: pointer;
  color: #333333;
  vertical-align: top;
  overflow: hidden;
}
.k50_widget_select_down {
  width: 220px;
  text-align: left;
}
.k50_widget_select_down:before {
  content: '';
  display: block;
  width: 8px;
  height: 5px;
  position: absolute;
  top: 13px;
  right: 9px;
  z-index: 3;
  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAgAAAAECAYAAACzzX7wAAAACXBIWXMAAAsTAAALEwEAmpwYAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAABBSURBVHgBbU1JDQAgDKNBxmxMAM4YzhAwHbMx2IOEDJr00SMtmFncvZcPAIxqZpOIsHXLoapKDZFLJ3wm4y54ewt/JRY0tJQLBwAAAABJRU5ErkJggg==);
  background-repeat: no-repeat;
  background-color: transparent;
  pointer-events: none;
}
.k50_widget_select_down.active:before {
  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAgAAAAECAYAAACzzX7wAAAACXBIWXMAAAsTAAALEwEAmpwYAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAA7SURBVHgBXYrBDQAgCANpnII1mMDNZDWnYQzUB6ahyX16J0Izs/Xgb7AE4JepqhIR+wclK+YIXfIy0w/QPhJ/YCRktwAAAABJRU5ErkJggg==);
}
.k50_widget_select_numeric {
  width: 40px;
  text-align: center;
  margin-left: 10px;
}
.k50_widget_select_numeric:before {
  display: none;
}
.k50_widget_select_box {
  display: block;
  width: 100%;
  height: auto;
  position: absolute;
  top: 30px;
  left: 0;
  z-index: 2;
}
.k50_widget_select_numeric .k50_widget_select_box {
  display: none;
}
.k50_widget_select_value {
  color: #333333;
  padding: 0 10px;
  height: 30px;
  width: 100%;
  line-height: 30px;
  pointer-events: auto;
  background-color: rgba(0, 0, 0, 0.05);
  font-size: 13px;
  text-transform: capitalize;
}
.k50_widget_select_value:hover {
  background-color: rgba(0, 0, 0, 0.1);
}
.k50_widget_select.disabled .k50_widget_select_value {
  pointer-events: none;
  color: rgba(0, 0, 0, 0.25);
}
.k50_widget_select_option {
  color: #333333;
  padding: 0 10px;
  height: 30px;
  width: 100%;
  line-height: 30px;
  pointer-events: auto;
  background-color: #e4e4e4;
  font-size: 13px;
  text-transform: capitalize;
}
.k50_widget_select_option.active {
  background-color: #d8d8d8;
}
.k50_widget_select_option.novisible {
  display: none;
}
.k50_widget_select_option:hover {
  background-color: #0088E0;
  color: #fff;
}
.k50_widget_select.active {
  overflow: visible;
}
.k50_widget_select.active .k50_widget_select_box {
  height: auto;
}
.k50_widget_select.active .k50_widget_select_value {
  background-color: rgba(0, 0, 0, 0.1);
}
.k50_widget_select.active.k50_widget_select_numeric .k50_widget_select_value {
  display: none;
}
.k50_widget_select.active.k50_widget_select_numeric .k50_widget_select_box {
  display: block;
}
.k50_clear:after {
  content: '';
  display: block;
  width: 0;
  height: 0;
  float: none;
  clear: both;
}
.k50_widget_desc {
  padding-bottom: 20px;
  color: rgba(0, 0, 0, 0.5);
  font-size: 13px;
  line-height: 18px;
}
.k50_input_label {
  border: 0;
  width: 100%;
  color: #333333;
  font-size: 11px;
  line-height: 13px;
  height: 13px;
  text-transform: uppercase;
}
.k50_input {
  border: 0;
  outline: none;
  width: 100%;
  height: 30px;
  background-color: rgba(0, 0, 0, 0.05);
  padding: 0 10px;
  color: #333333;
  font-size: 13px;
  line-height: 18px;
}
.k50_input:hover,
.k50_input:focus {
  background-color: rgba(0, 0, 0, 0.1);
}
.k50_input_error {
  display: none;
  border: 0;
  width: 100%;
  color: #C00000;
  font-size: 12px;
  line-height: 13px;
  height: 13px;
}
.k50_textarea {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 50px;
  background-color: rgba(0, 0, 0, 0.05);
  border: 0;
  width: 100%;
  resize: none;
  overflow: hidden;
  font-size: 13px;
  line-height: 18px;
  padding: 8px;
  outline: 0;
  color: #333333;
  display: block;
}
.k50_textarea:hover,
.k50_textarea:focus {
  background-color: rgba(0, 0, 0, 0.1);
}
.k50_widget_button {
  cursor: pointer;
  width: 100%;
  height: 50px;
  position: absolute;
  left: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.1);
  line-height: 50px;
  text-align: center;
  color: rgba(0, 0, 0, 0.25);
  font-size: 15px;
  pointer-events: none;
}
.k50_widget_button.active {
  background-color: #0088E0;
  color: #fff;
  pointer-events: auto;
}
.k50_widget_row {
  margin-bottom: 10px;
  position: relative;
}
.k50_widget_row.error:after {
  content: '';
  display: block;
  position: absolute;
  width: 30px;
  height: 30px;
  top: 13px;
  right: 0;
  z-index: 1;
  background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='30' height='30' viewBox='0 0 30 30' version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'%3e%3cg%3e%3cpath fill-rule='evenodd' clip-rule='evenodd' d='M 14 7C 14 10.866 10.866 14 7 14C 3.134 14 0 10.866 0 7C 0 3.134 3.134 0 7 0C 10.866 0 14 3.134 14 7ZM 12 7C 12 9.76141 9.76141 12 7 12C 4.23859 12 2 9.76141 2 7C 2 4.23859 4.23859 2 7 2C 9.76141 2 12 4.23859 12 7ZM 6 7L 6 4L 8 4L 8 7L 6 7ZM 6 10L 6 8L 8 8L 8 10L 6 10Z' transform='translate(8 8)' fill='%23C00000'/%3e%3c/g%3e%3c/svg%3e");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}
.k50_widget_row.error .k50_input_error {
  display: block;
}
.k50_hidden {
  display: none !important;
}
.k50_novisible {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}
.k50_custom-scroll::-webkit-scrollbar {
  width: 10px;
  height: 7px;
}
.k50_custom-scroll::-webkit-scrollbar-button {
  width: 1px;
  height: 0;
}
.k50_custom-scroll::-webkit-scrollbar-thumb {
  background: #bbbbbb;
  border: none;
  border-radius: 50px;
}
.k50_custom-scroll::-webkit-scrollbar-thumb:hover {
  background: #999999;
}
.k50_custom-scroll::-webkit-scrollbar-thumb:active {
  background: #999999;
}
.k50_custom-scroll::-webkit-scrollbar-track {
  background: rgba(0, 0, 0, 0.05);
  border: none;
}
.k50_custom-scroll::-webkit-scrollbar-track:hover {
  background: rgba(0, 0, 0, 0.05);
}
.k50_custom-scroll::-webkit-scrollbar-track:active {
  background: rgba(0, 0, 0, 0.05);
}
.k50_custom-scroll::-webkit-scrollbar-corner {
  background: 0 0;
}
