@import "@/assets/scss/_variables.scss";

.el-button--blue-text {
  background-color: transparent;
  outline: none;
  border: none;
  color: $blue-black;
  border-radius: 2px;
  cursor: pointer;
  height: 24px;
  padding: 0px 8px;
  font-size: 12px;
  line-height: 18px;
  align-items: center;
  flex-direction: row;
  border: 1px solid transparent;
  &:hover {
    color: $blue-black;
    background-color: $grey-bg;
  }
  &:focus {
    background-color: transparent;
    color: $blue-black;
    &:hover {
      color: $blue-black;
      background-color: $grey-bg;
      border: 1px solid $blue-black;
    }
  }
  > span {
    display: flex;
    align-items: center;
  }
  > span svg {
    height: 12px;
    width: 12px;
    margin-right: 4px;
  }
}


.el-button--default {
  transition: box-shadow 200ms cubic-bezier(0.2, 0, 0.2, 1) 0ms, border-color 200ms cubic-bezier(0.2, 0, 0.2, 1) 0ms;
  border: 1px solid transparent;
  color: rgb(0, 110, 175);
  font-family: "Artifakt Element", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  height: 36px;
  padding: 0px 15px;
  min-width: 40px;
  margin-right: 16px;
  align-items: center;
  border: 0px;
  border-radius: 0px;
  &:hover {
    box-shadow: none;
    background: rgb(246, 246, 246);
    color: rgb(0, 110, 175);
    border: 0px;
  }
  &:disabled {
    cursor: default !important;
    pointer-events: none !important;
    color:rgb(102, 102, 102);
  }
}


.el-button--redtext {
    transition: box-shadow 200ms cubic-bezier(0.2, 0, 0.2, 1) 0ms, border-color 200ms cubic-bezier(0.2, 0, 0.2, 1) 0ms;
    border: 1px solid transparent;
    color: darkred;
    font-family: "Artifakt Element", sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    height: 36px;
    padding: 0px 15px;
    min-width: 40px;
    margin-right: 16px;
    align-items: center;
    border: 0px;
    border-radius: 0px;
    &:hover {
      color: darkred;
      background-color: white;
      box-shadow: rgb(128 128 128 / 15%) 0px 0px 0px 2px;
      border: 1px solid darkred;
    }
    &:focus {
        color: darkred;
        background-color: rgba(165, 165, 165, 0.5);;
        box-shadow: rgb(128 128 128 / 15%) 0px 0px 0px 2px;
        border: 1px solid darkred;
    }
    &:disabled {
      cursor: default !important;
      pointer-events: none !important;
    }
  }

.el-button--outlined {
    transition: box-shadow 200ms cubic-bezier(0.2, 0, 0.2, 1) 0ms, border-color 200ms cubic-bezier(0.2, 0, 0.2, 1) 0ms;
    border: 1px solid rgb(102, 102, 102);
    color: rgb(102, 102, 102);
    font-family: "Artifakt Element", sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    height: 36px;
    padding: 0px 15px;
    min-width: 40px;
    margin-right: 16px;
    align-items: center;
    border-radius: 0px;
    &:hover {
      box-shadow: none;
      background: white;
      color: rgb(80, 80, 80);
    }
    &:disabled {
      cursor: default !important;
      pointer-events: none !important;
    }
  }

.el-button--main {
    transition: box-shadow 200ms cubic-bezier(0.2, 0, 0.2, 1) 0ms, border-color 200ms cubic-bezier(0.2, 0, 0.2, 1) 0ms;
    font-weight: 600;
    font-size: 14px;
    line-height: 20px;
    height: 36px;
    background-color: rgb(6, 150, 215);
    border: 1px solid transparent;
    color: rgb(255, 255, 255);
    font-family: "Artifakt Element", sans-serif;
//   font-weight: 400;
    height: 36px;
    padding: 0px 15px;
    align-items: center;
    border-radius: 0px;
    &:hover {
        background-color: rgb(6, 150, 215);
        box-shadow: rgb(128 128 128 / 15%) 0px 0px 0px 2px;
        color: white;
    }
    &:disabled {
        cursor: default !important;
        pointer-events: none !important;
        > span {
            font-weight: 600;
            color: rgb(102, 102, 102)
        }
    }
    &:focus {
        background-color: rgb(6, 150, 215);
    }
    & .v-icon {
        color: rgb(255, 255, 255) !important;
    }
    > span {
        color: rgb(255, 255, 255);
    }
}

.el-button--red {
    transition: box-shadow 200ms cubic-bezier(0.2, 0, 0.2, 1) 0ms, border-color 200ms cubic-bezier(0.2, 0, 0.2, 1) 0ms;
    font-weight: 600;
    font-size: 14px;
    line-height: 20px;
    height: 36px;
    background: rgb(221, 34, 34);
    border: 1px solid transparent;
    color: white;
    font-family: "Artifakt Element", sans-serif;
//   font-weight: 400;
    height: 36px;
    padding: 0px 15px;
    align-items: center;
    border-radius: 0px;
    &:hover {
        background-color: darkred;
        box-shadow: rgb(128 128 128 / 15%) 0px 0px 0px 2px;
        color: white;
    }
    &:disabled {
        cursor: default !important;
        pointer-events: none !important;
        > span {
            color: rgb(102, 102, 102)
        }
    }
    &:focus {
        background-color: darkred;
    }
    & .v-icon {
        color: rgb(255, 255, 255) !important;
    }
    > span {
        color: rgb(255, 255, 255);
    }
}

.el-button--profile {
  display: flex;
  flex-direction: row;
  background-color: blue;
  padding: 0px 8px;
  width: fit-content;
  border: none;
  background-color: blue;
  color: $black;
  align-items: center;
  height: 47px;
  > span {
    display: flex;
    align-items: center;
    > svg {
      margin-left: 4px;
    }
  }
  &:hover {
    color: $black-hover;
  }
  &:focus {
    color: $black;
    &:hover {
      color: $black-hover;
    }
  }
}

.el-button--other {
    border: 0;
    font-size: 18px;
}


.el-button--deletetask {
    transition: box-shadow 200ms cubic-bezier(0.2, 0, 0.2, 1) 0ms, border-color 200ms cubic-bezier(0.2, 0, 0.2, 1) 0ms;
    border: 1px solid transparent;
    color: darkred;
    font-family: "Artifakt Element", sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    height: 36px;
    padding: 0px 15px;
    min-width: 40px;
    margin-right: 16px;
    align-items: center;
    border: 0px;
    border-radius: 0px;
    &:hover {
      box-shadow: none;
      background: rgb(246, 246, 246);
      color: darkred;
      border: 0px;
    }
    &:disabled {
      cursor: default !important;
      pointer-events: none !important;
      color:rgb(102, 102, 102);
    }
  }