+modal("modal_hidden modal_size_small modal_gallery modal_align-center", {id:"js-modal-2", type:"simple", title:"Apple iMac MK452C116GH2RU/A"})
  +modal__content("modal__content_gallery")
    +carousel(null, {
      items: 1
    })
      img(src="static/img/good-carousel_01.png", alt="")
      img(src="static/img/good-carousel_01.png", alt="")
      img(src="static/img/good-carousel_01.png", alt="")