mixin manager(style, args)
  - block_style = "manager"
  - style = style ? block_style+" "+style : block_style
  - args = args ? args : {}
  div(class=style)
    if args.text
      .manager__text
        +text('text_size_medium')=args.text
    .manager__photo
      img(src="static/img/"+args.img, alt="")
    .manager__caption
      +text('text_size_x-large text_bold')=args.author
      +label(args.label)
        +text('text_size_xx-small text_color_contrast')=args.state
      br
      +link('', {href: 'mailto:'+args.mail})
        +text('text_size_x-medium text_color_primary')=args.mail
      br
      +text('text_color_accent text_size_x-small')
        | ICQ: 
        =args.icq
      .manager__call
        +link('', {href: 'tel:'+args.tel})
          +icon('icon_phone-blue')