+modal("modal_hidden modal_size_small modal_ident", {id:"js-modal-6", type:"simple", title:"Когда доставить?"})
  +modal__content('modal__content-calendar')
    +text('text_size_x-medium text_bold')
      ='Март'
    table.calendar__table
      thead
        tr
          th Пн
          th Вт
          th Ср
          th Чт
          th Пт
          th Сб
          th Вс
      tbody
        tr
          td
            +button('calendar__button disabled')
              +text('')
                ='13'
              span.calendar__crossed
          td
            +button('calendar__button disabled')
              +text('')
                ='14'
              span.calendar__crossed
          td
            +button('calendar__button disabled')
              +text('')
                ='15'
              span.calendar__crossed
          td
            +button('calendar__button active')
              +text('')
                ='16'
          td
            +button('calendar__button')
              +text('')
                ='17'
          td
            +button('calendar__button')
              +text('')
                ='18'
          td
            +button('calendar__button')
              +text('')
                ='19'
        tr
          td
            +button('calendar__button')
              +text('')
                ='20'
          td
            +button('calendar__button')
              +text('')
                ='21'
          td
            +button('calendar__button')
              +text('')
                ='22'
          td
            +button('calendar__button')
              +text('')
                ='23'
          td
            +button('calendar__button')
              +text('')
                ='24'
          td
            +button('calendar__button')
              +text('')
                ='25'
          td
            +button('calendar__button')
              +text('')
                ='26'
        tr
          td
            +button('calendar__button')
              +text('')
                ='27'
          td
            +button('calendar__button')
              +text('')
                ='28'
          td
            +button('calendar__button')
              +text('')
                ='28'
          td
            +button('calendar__button')
              +text('')
                ='30'
          td
            +button('calendar__button')
              +text('')
                ='31'

    +text('text_size_x-medium text_bold')
      ='Апрель'
    table.calendar__table
      thead
        tr
          th Пн
          th Вт
          th Ср
          th Чт
          th Пт
          th Сб
          th Вс
      tbody
        tr
          td
          td
          td
          td
          td
          td
            +button('calendar__button')
              +text('')
                ='1'
          td
            +button('calendar__button')
              +text('')
                ='2'
        tr
          td
            +button('calendar__button')
              +text('')
                ='3'
          td
            +button('calendar__button')
              +text('')
                ='4'
          td
            +button('calendar__button')
              +text('')
                ='5'
          td
            +button('calendar__button')
              +text('')
                ='6'
          td
            +button('calendar__button')
              +text('')
                ='7'
          td
            +button('calendar__button')
              +text('')
                ='8'
          td
            +button('calendar__button')
              +text('')
                ='9'
        tr
          td
            +button('calendar__button')
              +text('')
                ='10'
          td
            +button('calendar__button')
              +text('')
                ='11'
          td
            +button('calendar__button')
              +text('')
                ='12'
          td
            +button('calendar__button')
              +text('')
                ='13'
          td
            +button('calendar__button')
              +text('')
                ='14'

  +modal__footer()
    +button('calendar__main-button')
      +text('text_bold text_size_large text_contrast')
        ='Установить дату'