// Регистрация
.registration-form__group
  +layout('layout__col layout__col_ident')
    +form-field('registration-form__field')
      +input('input_default input_animate-top input_format_wide', {placeholder: 'Фамилия *'})
    +form-field('registration-form__field')
      +input('input_default input_animate-top input_format_wide', {placeholder: 'Имя *'})
    +form-field('registration-form__field')
      +input('input_default input_animate-top input_format_wide', {placeholder: 'Отчество *'})
    +form-field('registration-form__field form-field_indent-left')
      +input('input_icon-left input_animate-top', {placeholder: 'Номер телефона *'})
      +icon('icon_phone')
  +layout('layout__col layout__col_ident')
    .registration-form__title Параметры доставки и оплаты
    +form-field('registration-form__field')
      .text_size_medium.text_color_accent Регион
      +select('',{options: ['Москва и Моск. обл. до А107','Москва и Моск. обл. до А107','Москва и Моск. обл. до А107','Москва и Моск. обл. до А107']})
    +form-field('registration-form__field')
      .text_size_medium.text_color_accent Доставка
      +select('',{options: ['Курьером лично в руки','Курьером лично в руки','Курьером лично в руки','Курьером лично в руки']})
    +form-field('registration-form__field')
      .text_size_medium.text_color_accent Оплата
      +select('',{options: ['Наличными курьеру','Наличными курьеру','Наличными курьеру']})
    +form-field('registration-form__field')
      .text_size_medium.text_color_accent Станция метро
      +select('',{options: ['Октябрьская','Октябрьская','Октябрьская']})
    +form-field('registration-form__field')
      +input('input_default input_animate-top input_format_wide', {placeholder: 'Адрес доставки'})
.registration-form__group
  +layout('layout__col_ident')
    .registration-form__title Реквизиты доступа
  +layout('layout__col layout__col_ident')
    +form-field('registration-form__field form-field_indent-left')
      +input('input_icon-left input_animate-top', {placeholder: 'Эл. почта *'})
      +icon('icon_email')
    +form-field('registration-form__field form-field_indent-left')
      +input('input_icon-left input_animate-top', {placeholder: 'Пароль *', type: 'password'})
      +icon('icon_password')
  +layout('layout__col layout__col_ident')
    +form-field('registration-form__field')
      +checkbox('', {name: 'form', title: 'SMS-оповещение', description: 'Сообщения об изменениях статусов заказов'})
    +form-field('registration-form__field')
      +checkbox('', {name: 'form', title: 'Рассылка новостей', description: 'Подписка на еженедельные новости магазина'})