+modal('modal_hidden modal_align-center', {id: 'js-modal-2', title: 'Цена'})
  +modal__content('modal__content-price')
    +range(null, {from: 14000, to: 45000, min: 14000, max: 45000})

  +button('button_size_large button_format_wide button_no-radius', {text: 'Готово'})