+modal('modal_hidden modal_align-center modal_top-mobile', {id: 'js-modal-3', title: 'Выбор производителя'})
  +modal__content('modal__content_scroll')
    +checkbox('checkbox_blue-check checkbox_border', {name: 'brand-3Сott', title: '3Сott'})
    +checkbox('checkbox_blue-check checkbox_border', {name: 'brand-A-Data', title: 'A-Data'})
    +checkbox('checkbox_blue-check checkbox_border', {name: 'brand-AMD', title: 'AMD'})
    +checkbox('checkbox_blue-check checkbox_border', {name: 'brand-Asia', title: 'Asia'})
    +checkbox('checkbox_blue-check checkbox_border', {name: 'brand-ASRock', title: 'ASRock'})
    +checkbox('checkbox_blue-check checkbox_border', {name: 'brand-ASUS', title: 'ASUS'})
    +checkbox('checkbox_blue-check checkbox_border', {name: 'brand-ATI', title: 'ATI'})
    +checkbox('checkbox_blue-check checkbox_border', {name: 'brand-Acer', title: 'Acer'})
    +checkbox('checkbox_blue-check checkbox_border', {name: 'brand-Advantech', title: 'Advantech'})
    +checkbox('checkbox_blue-check checkbox_border', {name: 'brand-AeroCool', title: 'AeroCool'})
    +checkbox('checkbox_blue-check checkbox_border', {name: 'brand-AgeStar', title: 'AgeStar'})
    +checkbox('checkbox_blue-check checkbox_border', {name: 'brand-Apacer', title: 'Apacer'})
    +checkbox('checkbox_blue-check checkbox_border', {name: 'brand-Apple', title: 'Apple'})
    +checkbox('checkbox_blue-check checkbox_border', {name: 'brand-Artic-Cooling', title: 'Artic Cooling'})
    +checkbox('checkbox_blue-check checkbox_border', {name: 'brand-Biostar', title: 'Biostar'})
    +checkbox('checkbox_blue-check checkbox_border', {name: 'brand-3Сott', title: '3Сott'})
    +checkbox('checkbox_blue-check checkbox_border', {name: 'brand-3Сott', title: '3Сott'})
    +checkbox('checkbox_blue-check checkbox_border', {name: 'brand-3Сott', title: '3Сott'})
    +checkbox('checkbox_blue-check checkbox_border', {name: 'brand-3Сott', title: '3Сott'})
    +checkbox('checkbox_blue-check checkbox_border', {name: 'brand-3Сott', title: '3Сott'})
    +checkbox('checkbox_blue-check checkbox_border', {name: 'brand-3Сott', title: '3Сott'})