doctype html
html
  head
    meta(http-equiv='Content-Type', content='text/html; charset=UTF-8')
    link(rel="stylesheet" type="text/css" href="mod/static/battery-selection/css/main.css")
    script(src='mod/static/battery-selection/libs/jquery-3.1.1.min.js')
    script(src="mod/static/battery-selection/libs/jquery.ibp.js")
    script(src="mod/static/battery-selection/js/script.js")
  body
    include battery-selection-b2b.pug