doctype html
html
  head
    meta(http-equiv='Content-Type', content='text/html; charset=UTF-8')
    link(rel="stylesheet" type="text/css" href="static/css/main.css")
    script(src='static/libs/jquery-3.1.1.min.js')
    script(src="static/libs/jquery.ibp.js")
    script(src="static/js/script.js")
  body
    include battery-selection.pug