
@font-face {
  font-family: 'Artifakt-Element';
  src: url("~@/assets/fonts/Artifakt Element Medium.woff2");
  font-style: normal;
  font-display: swap;
  font-weight: normal;
}

@font-face {
  font-family: 'Artifakt-Element';
  src: url("~@/assets/fonts/Artifakt Element Bold.woff2");
  font-style: normal;
  font-display: swap;
  font-weight: 700;
}

@font-face {
  font-family: 'Artifakt-Element';
  src: url("~@/assets/fonts/Artifakt Element Semi Bold.woff2");
  font-style: normal;
  font-display: swap;
  font-weight: 500;
}
