@import "_fonts.scss";

$primary: rgb(6, 150, 215);
$default: rgb(102, 102, 102);
$blue-black: #006eaf;
$grey-bg: #f6f6f6;
$grey-bg-dark: #dcdcdc;
$grey-hover: #666666;
$grey-bg-hover: #eeeeee;
$grey-1: #cccccd;
$white: #fdfdfd;
$black: #3b3c3c;
$black-hover: #666666;
$black-default: rgb(60,60,60)