+modal('modal_hidden modal_align-center modal_top-mobile', {id: 'js-modal-4', title: 'Сокет'})
  button.modal__reset Сбросить
  +modal__content('modal__content_scroll modal__content_type')
    +checkbox('checkbox_blue-check checkbox_border', {name: 'type-AM1', title: 'AM1'})
    +checkbox('checkbox_blue-check checkbox_border', {name: 'type-AM2', title: 'AM2'})
    +checkbox('checkbox_blue-check checkbox_border', {name: 'type-AM2+', title: 'AM2+', checked: 'checked'})
    +checkbox('checkbox_blue-check checkbox_border', {name: 'type-AM3', title: 'AM3'})
    +checkbox('checkbox_blue-check checkbox_border', {name: 'type-AM3+', title: 'AM3+'})
    +checkbox('checkbox_blue-check checkbox_border', {name: 'type-FM1', title: 'FM1'})
    +checkbox('checkbox_blue-check checkbox_border', {name: 'type-FM2', title: 'FM2', checked: 'checked'})
    +checkbox('checkbox_blue-check checkbox_border', {name: 'type-FM2+', title: 'FM2+'})
    +checkbox('checkbox_blue-check checkbox_border', {name: 'type-LGA1150', title: 'LGA1150'})
    +checkbox('checkbox_blue-check checkbox_border', {name: 'type-LGA1151', title: 'LGA1151'})
    +checkbox('checkbox_blue-check checkbox_border', {name: 'type-LGA1155', title: 'LGA1155', checked: 'checked'})
    +checkbox('checkbox_blue-check checkbox_border', {name: 'type-LGA1156', title: 'LGA1156'})
    +checkbox('checkbox_blue-check checkbox_border', {name: 'type-LGA1356', title: 'LGA1356'})
    +checkbox('checkbox_blue-check checkbox_border', {name: 'type-LGA1360', title: 'LGA1360'})
    +checkbox('checkbox_blue-check checkbox_border', {name: 'type-AM1', title: '3Сott'})
    +checkbox('checkbox_blue-check checkbox_border', {name: 'type-AM1', title: '3Сott'})
    +checkbox('checkbox_blue-check checkbox_border', {name: 'type-AM1', title: '3Сott'})
    +checkbox('checkbox_blue-check checkbox_border', {name: 'type-AM1', title: '3Сott'})
    +checkbox('checkbox_blue-check checkbox_border', {name: 'type-AM1', title: '3Сott'})
    +checkbox('checkbox_blue-check checkbox_border', {name: 'type-AM1', title: '3Сott'})
    +checkbox('checkbox_blue-check checkbox_border', {name: 'type-AM1', title: '3Сott'})
  +button('button_size_large button_format_wide button-bottom', {text: 'Готово'})